bin/
build/
**/logs
products
repository
workspace
*~
MANIFEST.MF
*.ipr
*.iml
*.iws
.idea
.eggs
log.html
output.xml
report.html
*.swp
target-ide/
.vagrant
.DS_Store
AUTHORS
ChangeLog

# Python
.tox/
__pycache__/
dist/
*.egg-info/
*.pyc
